In [1]:
# 데이터 생성

In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp311-cp311-macosx_11_0_arm64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.1.1-cp311-cp311-macosx_14_0_arm64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.9/60.9 kB 4.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/jungwookkim/Library/Python/3.11/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/jungwookkim/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp311-cp311-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 9.8 MB/s eta 0:00:0000:0100:01
Downloading numpy-2.1.1-cp311-cp311-macosx_14_0_arm64.whl (5.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.4/5.4 MB 9.7 MB/s eta 0:00:00:00:0100:01
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 8.5 MB/s eta 0:00:00a 0:00:01
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 8.5 MB/s eta 0:00:0000:01
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.1 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

[notice] A new release of pip is available: 23.3.1 -> 24.2
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

# 데이터 정의
data = {
    "팀": ["청팀"]*18 + ["백팀"]*18 + ["청팀"]*24 + ["백팀"]*24,
    "성별": ["여"]*18 + ["여"]*18 + ["남"]*24 + ["남"]*24,
    "조": ["3조"]*6 + ["2조"]*6 + ["1조"]*6 + ["3조"]*6 + ["2조"]*6 + ["1조"]*6 + ["3조"]*8 + ["2조"]*8 + ["1조"]*8 + ["3조"]*8 + ["2조"]*8 + ["1조"]*8,
    "닉네임": ["우당탕", "진영", "쩡", "크림", "문문", "클레어", "지니", "제시", "썬", "윰", "사리", "지나스", "랠리윤", "뽐", "은",
              "기쁨", "프릴이", "샤이니영", "반이", "미르키", "시호", "야금", "빈지", "나여영", "아롬", "린다", "제인", "리디아", "꼬맹",
              "파란하늘", "커피믹스", "지영", "강진", "레일라", "밈", "민크", "로저", "쥬니혀니", "SJ", "우디", "피터", "제이슨", "배기",
              "성일월드", "이언짱", "마카롱", "와비", "작심3일", "원", "예스욱", "황더러", "미키찬", "주방", "행테", "큐", "태보", "새싹",
              "야호", "슬슬", "유보트", "Nuno", "졸린무지", "TG", "구너", "김군", "터보", "꿀벌", "쿨쿨", "바모스", "명자", "푸마", "쿠닌",
              "다임백", "ACE", "브라운", "머레이", "백호", "태규", "정현", "소쿠리", "챨리심", "똥시", "자광", "재근"]
}

# 데이터프레임 생성
df = pd.DataFrame(data)

# 데이터프레임 출력
print(df)

     팀 성별   조  닉네임
0   청팀  여  3조  우당탕
1   청팀  여  3조   진영
2   청팀  여  3조    쩡
3   청팀  여  3조   크림
4   청팀  여  3조   문문
..  .. ..  ..  ...
79  백팀  남  1조  소쿠리
80  백팀  남  1조  챨리심
81  백팀  남  1조   똥시
82  백팀  남  1조   자광
83  백팀  남  1조   재근

[84 rows x 4 columns]

In [10]:
import random
import pandas as pd

# 데이터 생성
data = {
    "팀": ["청팀"]*18 + ["백팀"]*18 + ["청팀"]*24 + ["백팀"]*24,
    "성별": ["여"]*18 + ["여"]*18 + ["남"]*24 + ["남"]*24,
    "조": ["3조"]*6 + ["2조"]*6 + ["1조"]*6 + ["3조"]*6 + ["2조"]*6 + ["1조"]*6 + ["3조"]*8 + ["2조"]*8 + ["1조"]*8 + ["3조"]*8 + ["2조"]*8 + ["1조"]*8,
    "닉네임": ["우당탕", "진영", "쩡", "크림", "문문", "클레어", "지니", "제시", "썬", "윰", "사리", "지나스", "랠리윤", "뽐", "은",
              "기쁨", "프릴이", "샤이니영", "반이", "미르키", "시호", "야금", "빈지", "나여영", "아롬", "린다", "제인", "리디아", "꼬맹",
              "파란하늘", "커피믹스", "지영", "강진", "레일라", "밈", "민크", "로저", "쥬니혀니", "SJ", "우디", "피터", "제이슨", "배기",
              "성일월드", "이언짱", "마카롱", "와비", "작심3일", "원", "예스욱", "황더러", "미키찬", "주방", "행테", "큐", "태보", "새싹",
              "야호", "슬슬", "유보트", "Nuno", "졸린무지", "TG", "구너", "김군", "터보", "꿀벌", "쿨쿨", "바모스", "명자", "푸마", "쿠닌",
              "다임백", "ACE", "브라운", "머레이", "백호", "태규", "정현", "소쿠리", "챨리심", "똥시", "자광", "재근"]
}

페어링 결과:
유보트 - 미키찬
큐 - 마카롱
야호 - 작심3일
행테 - 예스욱
새싹 - 원
태보 - 황더러
주방 - 이언짱
슬슬 - 와비
이언짱 - 쥬니혀니
마카롱 - 피터
와비 - 우디
원 - 성일월드
작심3일 - SJ
황더러 - 배기
미키찬 - 로저
예스욱 - 제이슨
슬슬 - 피터
태보 - 로저
유보트 - 쥬니혀니
행테 - 제이슨
큐 - SJ
야호 - 성일월드
새싹 - 배기
주방 - 우디

각 사람의 페어링 횟수:
유보트: 2번
미키찬: 2번
큐: 2번
마카롱: 2번
야호: 2번
작심3일: 2번
행테: 2번
예스욱: 2번
새싹: 2번
원: 2번
태보: 2번
황더러: 2번
주방: 2번
이언짱: 2번
슬슬: 2번
와비: 2번
쥬니혀니: 2번
피터: 2번
우디: 2번
성일월드: 2번
SJ: 2번
배기: 2번
로저: 2번
제이슨: 2번

In [6]:
# display(df)
display(df.style.set_table_attributes('style="max-height:300px; overflow:auto;"'))

In [12]:
import random
import pandas as pd

# 페어를 저장할 리스트
pairs = []

# 페어링 함수
def create_pair(group_a, group_b):
    pairings = []
    random.shuffle(group_a)
    random.shuffle(group_b)
    for i in range(min(len(group_a), len(group_b))):
        pairings.append((group_a[i], group_b[i]))
    return pairings

# 청팀 남자와 여자만 추출
men_team = df[(df['팀'] == '청팀') & (df['성별'] == '남')]
women_team = df[(df['팀'] == '청팀') & (df['성별'] == '여')]

# 남자 조별로 분리
men_group_1 = men_team[men_team['조'] == '1조']['닉네임'].tolist()
men_group_2 = men_team[men_team['조'] == '2조']['닉네임'].tolist()
men_group_3 = men_team[men_team['조'] == '3조']['닉네임'].tolist()

# 여자 조별로 분리
women_group_1 = women_team[women_team['조'] == '1조']['닉네임'].tolist()
women_group_2 = women_team[women_team['조'] == '2조']['닉네임'].tolist()
women_group_3 = women_team[women_team['조'] == '3조']['닉네임'].tolist()

# 여자끼리의 페어
women_pairs_1_2 = create_pair(women_group_1, women_group_2)
women_pairs_2_3 = create_pair(women_group_2, women_group_3)
women_pairs_1_3 = create_pair(women_group_1, women_group_3)

# 남자-여자 페어링_1
men_1_women_2 = create_pair(men_group_1, women_group_2)
men_2_women_3 = create_pair(men_group_2, women_group_3)
men_3_women_1 = create_pair(men_group_3, women_group_1)

# 남자끼리의 페어
men_pairs_1_3 = create_pair(men_group_1, men_group_3)
men_pairs_1_2 = create_pair(men_group_1, men_group_2)
men_pairs_2_3 = create_pair(men_group_2, men_group_3)

# 남자-여자 페어링_2
men_2_women_1 = create_pair(men_group_2, women_group_1)
men_3_women_2 = create_pair(men_group_3, women_group_2)
men_1_women_3 = create_pair(men_group_1, women_group_3)

여자끼리의 페어:
1조-2조 페어:
뽐 - 사리
프릴이 - 지나스
샤이니영 - 썬
기쁨 - 제시
은 - 지니
랠리윤 - 윰

2조-3조 페어:
썬 - 쩡
제시 - 크림
윰 - 진영
지니 - 우당탕
지나스 - 문문
사리 - 클레어

1조-3조 페어:
랠리윤 - 쩡
프릴이 - 크림
샤이니영 - 문문
기쁨 - 진영
뽐 - 우당탕
은 - 클레어

남자-여자 페어:

남자 1조 - 여자 2조 페어:
큐 - 썬
유보트 - 지니
새싹 - 제시
행테 - 사리
태보 - 윰
주방 - 지나스

남자 2조 - 여자 3조 페어:
와비 - 크림
이언짱 - 문문
원 - 진영
마카롱 - 쩡
미키찬 - 클레어
황더러 - 우당탕

남자 3조 - 여자 1조 페어:
SJ - 샤이니영
배기 - 은
로저 - 뽐
성일월드 - 랠리윤
쥬니혀니 - 기쁨
피터 - 프릴이

In [17]:
import random
import pandas as pd

# 페어를 저장할 리스트
pairs = []

# 페어링 함수
def create_pair(group_a, group_b):
    pairings = []
    random.shuffle(group_a)
    random.shuffle(group_b)
    for i in range(min(len(group_a), len(group_b))):
        pairings.append((group_a[i], group_b[i]))
    return pairings

# 청팀 남자와 여자만 추출
men_team = df[(df['팀'] == '청팀') & (df['성별'] == '남')]
women_team = df[(df['팀'] == '청팀') & (df['성별'] == '여')]

# 남자 조별로 분리
men_group_1 = men_team[men_team['조'] == '1조']['닉네임'].tolist()
men_group_2 = men_team[men_team['조'] == '2조']['닉네임'].tolist()
men_group_3 = men_team[men_team['조'] == '3조']['닉네임'].tolist()

# 여자 조별로 분리
women_group_1 = women_team[women_team['조'] == '1조']['닉네임'].tolist()
women_group_2 = women_team[women_team['조'] == '2조']['닉네임'].tolist()
women_group_3 = women_team[women_team['조'] == '3조']['닉네임'].tolist()

# # 여자끼리의 페어
# women_pairs_1_2 = create_pair(women_group_1, women_group_2)
# women_pairs_2_3 = create_pair(women_group_2, women_group_3)
# women_pairs_1_3 = create_pair(women_group_1, women_group_3)

# 남자-여자 페어링
men_2_women_1 = create_pair(men_group_2, women_group_1)
men_3_women_2 = create_pair(men_group_3, women_group_2)
men_1_women_3 = create_pair(men_group_1, women_group_3)

# # 페어링 결과 출력
# print("여자끼리의 페어:")
# print("1조-2조 페어:")
# for pair in women_pairs_1_2:
#     print(f"{pair[0]} - {pair[1]}")

# print("\n2조-3조 페어:")
# for pair in women_pairs_2_3:
#     print(f"{pair[0]} - {pair[1]}")

# print("\n1조-3조 페어:")
# for pair in women_pairs_1_3:
#     print(f"{pair[0]} - {pair[1]}")

print("\n남자-여자 페어:")
print("\n남자 2조 - 여자 1조 페어:")
for pair in men_2_women_1:
    print(f"{pair[0]} - {pair[1]}")

print("\n남자 3조 - 여자 2조 페어:")
for pair in men_3_women_2:
    print(f"{pair[0]} - {pair[1]}")

print("\n남자 1조 - 여자 3조 페어:")
for pair in men_1_women_3:
    print(f"{pair[0]} - {pair[1]}")

남자-여자 페어:

남자 2조 - 여자 1조 페어:
이언짱 - 은
작심3일 - 기쁨
황더러 - 랠리윤
마카롱 - 샤이니영
와비 - 프릴이
예스욱 - 뽐

남자 3조 - 여자 2조 페어:
로저 - 지니
SJ - 지나스
성일월드 - 사리
제이슨 - 제시
우디 - 윰
쥬니혀니 - 썬

남자 1조 - 여자 3조 페어:
주방 - 진영
유보트 - 크림
야호 - 쩡
슬슬 - 문문
태보 - 클레어
큐 - 우당탕

In [2]:
men_team[men_team['닉네임'].isin(list(set(men_team['닉네임'].tolist()) - set([p[0] for p in pairing_results_round_2])))]

     팀 성별   조   닉네임
61  백팀  남  3조  졸린무지
65  백팀  남  3조    터보
68  백팀  남  2조   바모스
75  백팀  남  2조   머레이
80  백팀  남  1조   챨리심
81  백팀  남  1조    똥시

In [91]:
remaining_men_list

[['원', '2조'],
 ['마카롱', '2조'],
 ['로저', '3조'],
 ['새싹', '1조'],
 ['배기', '3조'],
 ['주방', '1조']]

In [108]:
# 서로 다른 조끼리 페어링 함수
def create_random_leftover_pairs(remaining_men_list,round):
    # 조별로 분류
    group_1 = [p for p in remaining_men_list if p[1] == '1조']
    group_2 = [p for p in remaining_men_list if p[1] == '2조']
    group_3 = [p for p in remaining_men_list if p[1] == '3조']
    
    # 각 그룹 무작위로 섞기
    random.shuffle(group_1)
    random.shuffle(group_2)
    random.shuffle(group_3)
    
    # 서로 다른 조끼리 페어링 (1조-2조, 2조-3조, 3조-1조)
    pair_1 = (group_1[0][0], group_2[0][0], f"{group_1[0][1]}-{group_2[0][1]}", round)
    pair_2 = (group_2[1][0], group_3[0][0], f"{group_2[1][1]}-{group_3[0][1]}", round)
    pair_3 = (group_3[1][0], group_1[1][0], f"{group_3[1][1]}-{group_1[1][1]}", round)
    
    # 결과 반환
    return [pair_1, pair_2, pair_3]

In [109]:
remaining_men_pairs = create_random_leftover_pairs(remaining_men_list, 2)

# 결과 출력
print(remaining_men_pairs)

[('주방', '마카롱', '1조-2조', 2), ('원', '배기', '2조-3조', 2), ('로저', '새싹', '3조-1조', 2)]

In [ ]:
pip install

In [9]:
import random
import pandas as pd
from IPython.display import display
import itertools


blue_team_leader_pick = 36 ## 청팀 사람들이 알아서 정하는 숫자
white_team_leader_pick = 39 ## 백팀 사람들이 알아서 정하는 숫자 

lucky_number_blue = 3040 + blue_team_leader_pick
lucky_number_white = 3040 + white_team_leader_pick

dict_random = {'청팀': lucky_number_blue , '백팀' : lucky_number_white}



# 데이터 생성
data = {
    "팀": ["청팀"]*18 + ["백팀"]*18 + ["청팀"]*24 + ["백팀"]*24,
    "성별": ["여"]*18 + ["여"]*18 + ["남"]*24 + ["남"]*24,
    "조": ["3조"]*6 + ["2조"]*6 + ["1조"]*6 + ["3조"]*6 + ["2조"]*6 + ["1조"]*6 + ["3조"]*8 + ["2조"]*8 + ["1조"]*8 + ["3조"]*8 + ["2조"]*8 + ["1조"]*8,
    "닉네임": ["우당탕", "진영", "쩡", "크림", "문문", "클레어", "지니", "제시", "썬", "윰", "사리", "지나스", "랠리윤", "뽐", "은",
              "기쁨", "프릴이", "샤이니영", 
              "반이", "미르키", "시호", "야금", "빈지", "나여영", "아롬", "린다", "제인", "리디아", "꼬맹","파란하늘", "커피믹스", 
              "지영", "강진", "레일라", "밈", "민크", 
              "로저", "쥬니혀니", "SJ", "우디", "피터", "제이슨", "배기","성일월드", "이언짱", "마카롱", "와비", "작심3일", "원", 
              "예스욱", "황더러", "미키찬", "주방", "행테", "큐", "태보", "새싹", "야호", "슬슬", "유보트", 
              "Nuno", "졸린무지", "TG", "구너", "김군", "터보", "꿀벌", "쿨쿨", "바모스", "명자", "푸마", "쿠닌",
              "다임백", "ACE", "브라운", "머레이", "백호", "태규", "정현", "소쿠리", "챨리심", "똥시", "자광", "재근"]
}

df = pd.DataFrame(data)

# 중복된 페어를 방지하는 함수
def create_pair(group_a, group_b, group_a_name, group_b_name, round, existing_pairs), existing_pairs:
    pairings = []
    random.shuffle(group_a)
    random.shuffle(group_b)

    for i in range(min(len(group_a), len(group_b))):
        pair = (group_a[i], group_b[i], f"{group_a_name}-{group_b_name}", round)
        
        # 중복된 페어가 아닌지 확인
        if (group_a[i], group_b[i]) not in existing_pairs and (group_b[i], group_a[i]) not in existing_pairs:  # 역방향으로도 체크
            pairings.append(pair)
            existing_pairs.add((group_a[i], group_b[i]))  # 페어 추가 (정방향)
    
    return pairings


# 남복 페어링을 먼저 정하는 함수
def create_random_leftover_pairs_no_duplicates(remaining_men_list, round, existing_pairs):
    # 조별로 분류
    group_1 = [p for p in remaining_men_list if p[1] == '1조']
    group_2 = [p for p in remaining_men_list if p[1] == '2조']
    group_3 = [p for p in remaining_men_list if p[1] == '3조']
    
    # 각 그룹 무작위로 섞기
    random.shuffle(group_1)
    random.shuffle(group_2)
    random.shuffle(group_3)
    
    # 서로 다른 조끼리 페어링 (1조-2조, 2조-3조, 3조-1조)
    pair_1 = (group_1[0][0], group_2[0][0], f"{group_1[0][1]}(남)-{group_2[0][1]}(남)", round)
    pair_2 = (group_2[1][0], group_3[0][0], f"{group_2[1][1]}(남)-{group_3[0][1]}(남)", round)
    pair_3 = (group_1[1][0], group_3[1][0], f"{group_1[1][1]}(남)-{group_3[1][1]}(남)", round)
    
    # 중복 페어 확인 및 저장
    for pair in [pair_1, pair_2, pair_3]:
        if (pair[0], pair[1]) not in existing_pairs and (pair[1], pair[0]) not in existing_pairs:  # 역방향으로도 체크
            existing_pairs.add((pair[0], pair[1]))  # 페어 추가 (정방향)
    
    return [pair_1, pair_2, pair_3]


for team in ['청팀','백팀']:
    
    random.seed(dict_random[team])
    
    # 청팀 남자와 여자만 추출
    men_team = df[(df['팀'] == team) & (df['성별'] == '남')]
    women_team = df[(df['팀'] == team) & (df['성별'] == '여')]

    # 남자 조별로 분리
    men_group_1 = men_team[men_team['조'] == '1조']['닉네임'].tolist()
    men_group_2 = men_team[men_team['조'] == '2조']['닉네임'].tolist()
    men_group_3 = men_team[men_team['조'] == '3조']['닉네임'].tolist()

    # 여자 조별로 분리
    women_group_1 = women_team[women_team['조'] == '1조']['닉네임'].tolist()
    women_group_2 = women_team[women_team['조'] == '2조']['닉네임'].tolist()
    women_group_3 = women_team[women_team['조'] == '3조']['닉네임'].tolist()

    # 페어링 결과 리스트
    pairing_results = []
    pairing_results_round_2 = []
    pairing_results_round_4 = []
    
    # 중복 페어 추적을 위한 리스트
    existing_pairs = set()  # 전역적으로 중복 페어를 추적

    ######################################################################
    # 여자끼리의 페어
    pairing_results += create_pair(women_group_2, women_group_3, "2조(여)", "3조(여)", 1, existing_pairs)
    pairing_results += create_pair(women_group_1, women_group_2, "1조(여)", "2조(여)", 1, existing_pairs)
    pairing_results += create_pair(women_group_1, women_group_3, "1조(여)", "3조(여)", 1, existing_pairs)


    ######################################################################
    # 남복 페어링을 먼저 정함
    remaining_men_list = men_team[['닉네임', '조']].values.tolist()
    men_pairs_round_2 = create_random_leftover_pairs_no_duplicates(remaining_men_list, 2, existing_pairs)

    pairing_results += men_pairs_round_2
    # # 남는 남자들의 닉네임과 조 정보를 함께 저장
    # remaining_men = men_team[men_team['닉네임'].isin(list(set(men_team['닉네임'].tolist()) - set([p[0] for p in pairing_results_round_2])))]
    # remaining_men_list = remaining_men[['닉네임', '조']].values.tolist()  # [[닉네임, 조], ...]

    # # 남는 남자끼리 페어링
    # remaining_men_pairs_round_2 = create_random_leftover_pairs(remaining_men_list,2)


    ######################################################################
    # 남자-여자 페어링

    pairing_results_round_2 += create_pair(men_group_1, women_group_2, "1조(남)", "2조(여)",2, existing_pairs)
    pairing_results_round_2 += create_pair(men_group_2, women_group_3, "2조(남)", "3조(여)",2, existing_pairs)
    pairing_results_round_2 += create_pair(men_group_3, women_group_1, "3조(남)", "1조(여)",2, existing_pairs)
 
     ######################################################################
    # 남는 남자들과 여자를 혼복으로 페어링
    remaining_men = men_team[men_team['닉네임'].isin(list(set(men_team['닉네임'].tolist()) - set([p[0] for p in men_pairs_round_2])))]
    remaining_men_list = remaining_men[['닉네임', '조']].values.tolist()

    pairing_results_round_2 += create_pair_no_duplicates(remaining_men_list, women_group_2, "남자", "여자", 2, existing_pairs)
   

 


    pairing_results += pairing_results_round_2
    pairing_results += remaining_men_pairs_round_2

    ######################################################################
    # 남자끼리의 페어
    pairing_results += create_pair(men_group_1, men_group_3, "1조(남)", "3조(남)",3, existing_pairs)
    pairing_results += create_pair(men_group_1, men_group_2, "1조(남)", "2조(남)",3, existing_pairs)
    pairing_results += create_pair(men_group_2, men_group_3, "2조(남)", "3조(남)",3, existing_pairs)

    ######################################################################
    # 남자-여자 페어링
    pairing_results_round_4 += create_pair(men_group_2, women_group_1, "2조(남)", "1조(여)",4, existing_pairs)
    pairing_results_round_4 += create_pair(men_group_3, women_group_2, "3조(남)", "2조(여)",4, existing_pairs)
    pairing_results_round_4 += create_pair(men_group_1, women_group_3, "1조(남)", "3조(여)",4, existing_pairs)

    ######################################################################
    # 남는 남자들의 닉네임과 조 정보를 함께 저장
    remaining_men = men_team[men_team['닉네임'].isin(list(set(men_team['닉네임'].tolist()) - set([p[0] for p in pairing_results_round_4])))]
    remaining_men_list = remaining_men[['닉네임', '조']].values.tolist()  # [[닉네임, 조], ...]

    # 남는 남자끼리 페어링
    remaining_men_pairs_round_4 = create_random_leftover_pairs(remaining_men_list,4)


    pairing_results += pairing_results_round_4
    pairing_results += remaining_men_pairs_round_4

    ######################################################################
    # 결과를 pandas dataframe에 저장
    df_pairs = pd.DataFrame(pairing_results, columns=["선수", "선수2", "조 구분", "라운드"])

    # 인덱스를 1부터 시작하도록 조정
    df_pairs.index = df_pairs.index + 1

    # 인덱스를 '페어번호'라는 이름의 열로 추가
    df_pairs.reset_index(inplace=True)
    df_pairs.rename(columns={'index': '페어번호'}, inplace=True)

    # 페어 유형을 추가하여 구분
    df_pairs['페어 유형'] = df_pairs['조 구분'].apply(
        lambda x: '남복' if '남' in x and '여' not in x else '여복' if '여' in x and '남' not in x else '혼복'
    )

    # 결과 출력
    # display(df_pairs.style.set_table_attributes('style="max-height:300px; overflow:auto;"'))
    df_pairs.to_excel(f'{team}_fair_{dict_random[team]}.xlsx', index=False, engine='openpyxl')

In [ ]:
import random
import pandas as pd
from IPython.display import display
import itertools


blue_team_leader_pick = 36 ## 청팀 사람들이 알아서 정하는 숫자
white_team_leader_pick = 39 ## 백팀 사람들이 알아서 정하는 숫자 

lucky_number_blue = 3040 + blue_team_leader_pick
lucky_number_white = 3040 + white_team_leader_pick

dict_random = {'청팀': lucky_number_blue , '백팀' : lucky_number_white}



# 데이터 생성
data = {
    "팀": ["청팀"]*18 + ["백팀"]*18 + ["청팀"]*24 + ["백팀"]*24,
    "성별": ["여"]*18 + ["여"]*18 + ["남"]*24 + ["남"]*24,
    "조": ["3조"]*6 + ["2조"]*6 + ["1조"]*6 + ["3조"]*6 + ["2조"]*6 + ["1조"]*6 + ["3조"]*8 + ["2조"]*8 + ["1조"]*8 + ["3조"]*8 + ["2조"]*8 + ["1조"]*8,
    "닉네임": ["우당탕", "진영", "쩡", "크림", "문문", "클레어", "지니", "제시", "썬", "윰", "사리", "미아", "랠리윤", "뽐", "은",
              "기쁨", "프릴이", "샤이니영", 
              "반이", "미르키", "시호", "야금", "빈지", "나여영", "아롬", "린다", "제인", "리디아", "꼬맹","파란하늘", "커피믹스", 
              "지영", "강진", "레일라", "태태", "민크", 
              "로저", "쥬니혀니", "SJ", "우디", "피터", "제이슨", "배기","성일월드", "이언짱", "마카롱", "와비", "작심3일", "원", 
              "Joon", "황더러", "미키찬", "예스욱", "행테", "큐", "태보", "새싹", "야호", "슬슬", "유보트", 
              "Nuno", "졸린무지", "TG", "구너", "김군", "터보", "꿀벌", "쿨쿨", "바모스", "명자", "푸마", "쿠닌",
              "다임백", "ACE", "브라운", "머레이", "백호", "태규", "정현", "소쿠리", "챨리심", "똥시", "자광", "재근"]
}

df = pd.DataFrame(data)

# 중복된 페어를 방지하는 함수
def create_pair(group_a, group_b, group_a_name, group_b_name, round, existing_pairs), existing_pairs:
    pairings = []
    random.shuffle(group_a)
    random.shuffle(group_b)

    for i in range(min(len(group_a), len(group_b))):
        pair = (group_a[i], group_b[i], f"{group_a_name}-{group_b_name}", round)
        
        # 중복된 페어가 아닌지 확인
        if (group_a[i], group_b[i]) not in existing_pairs and (group_b[i], group_a[i]) not in existing_pairs:  # 역방향으로도 체크
            pairings.append(pair)
            existing_pairs.add((group_a[i], group_b[i]))  # 페어 추가 (정방향)
    
    return pairings


# 남복 페어링을 먼저 정하는 함수
def create_random_leftover_pairs_no_duplicates(remaining_men_list, round, existing_pairs):
    # 조별로 분류
    group_1 = [p for p in remaining_men_list if p[1] == '1조']
    group_2 = [p for p in remaining_men_list if p[1] == '2조']
    group_3 = [p for p in remaining_men_list if p[1] == '3조']
    
    # 각 그룹 무작위로 섞기
    random.shuffle(group_1)
    random.shuffle(group_2)
    random.shuffle(group_3)
    
    # 서로 다른 조끼리 페어링 (1조-2조, 2조-3조, 3조-1조)
    pair_1 = (group_1[0][0], group_2[0][0], f"{group_1[0][1]}(남)-{group_2[0][1]}(남)", round)
    pair_2 = (group_2[1][0], group_3[0][0], f"{group_2[1][1]}(남)-{group_3[0][1]}(남)", round)
    pair_3 = (group_1[1][0], group_3[1][0], f"{group_1[1][1]}(남)-{group_3[1][1]}(남)", round)
    
    # 중복 페어 확인 및 저장
    for pair in [pair_1, pair_2, pair_3]:
        if (pair[0], pair[1]) not in existing_pairs and (pair[1], pair[0]) not in existing_pairs:  # 역방향으로도 체크
            existing_pairs.add((pair[0], pair[1]))  # 페어 추가 (정방향)
    
    return [pair_1, pair_2, pair_3]


for team in ['청팀','백팀']:
    
    random.seed(dict_random[team])
    
    # 청팀 남자와 여자만 추출
    men_team = df[(df['팀'] == team) & (df['성별'] == '남')]
    women_team = df[(df['팀'] == team) & (df['성별'] == '여')]

    # 남자 조별로 분리
    men_group_1 = men_team[men_team['조'] == '1조']['닉네임'].tolist()
    men_group_2 = men_team[men_team['조'] == '2조']['닉네임'].tolist()
    men_group_3 = men_team[men_team['조'] == '3조']['닉네임'].tolist()

    # 여자 조별로 분리
    women_group_1 = women_team[women_team['조'] == '1조']['닉네임'].tolist()
    women_group_2 = women_team[women_team['조'] == '2조']['닉네임'].tolist()
    women_group_3 = women_team[women_team['조'] == '3조']['닉네임'].tolist()

    # 페어링 결과 리스트
    pairing_results = []
    pairing_results_round_2 = []
    pairing_results_round_4 = []
    
    # 중복 페어 추적을 위한 리스트
    existing_pairs = set()  # 전역적으로 중복 페어를 추적

    ######################################################################
    # 여자끼리의 페어
    pairing_results += create_pair(women_group_2, women_group_3, "2조(여)", "3조(여)", 1, existing_pairs)
    pairing_results += create_pair(women_group_1, women_group_2, "1조(여)", "2조(여)", 1, existing_pairs)
    pairing_results += create_pair(women_group_1, women_group_3, "1조(여)", "3조(여)", 1, existing_pairs)


    ######################################################################
    # 남복 페어링을 먼저 정함
    remaining_men_list = men_team[['닉네임', '조']].values.tolist()
    men_pairs_round_2 = create_random_leftover_pairs_no_duplicates(remaining_men_list, 2, existing_pairs)

    pairing_results += men_pairs_round_2
    # # 남는 남자들의 닉네임과 조 정보를 함께 저장
    # remaining_men = men_team[men_team['닉네임'].isin(list(set(men_team['닉네임'].tolist()) - set([p[0] for p in pairing_results_round_2])))]
    # remaining_men_list = remaining_men[['닉네임', '조']].values.tolist()  # [[닉네임, 조], ...]

    # # 남는 남자끼리 페어링
    # remaining_men_pairs_round_2 = create_random_leftover_pairs(remaining_men_list,2)


    ######################################################################
    # 남자-여자 페어링

    pairing_results_round_2 += create_pair(men_group_1, women_group_2, "1조(남)", "2조(여)",2, existing_pairs)
    pairing_results_round_2 += create_pair(men_group_2, women_group_3, "2조(남)", "3조(여)",2, existing_pairs)
    pairing_results_round_2 += create_pair(men_group_3, women_group_1, "3조(남)", "1조(여)",2, existing_pairs)
 
     ######################################################################
    # 남는 남자들과 여자를 혼복으로 페어링
    remaining_men = men_team[men_team['닉네임'].isin(list(set(men_team['닉네임'].tolist()) - set([p[0] for p in men_pairs_round_2])))]
    remaining_men_list = remaining_men[['닉네임', '조']].values.tolist()

    pairing_results_round_2 += create_pair_no_duplicates(remaining_men_list, women_group_2, "남자", "여자", 2, existing_pairs)
   

 


    pairing_results += pairing_results_round_2
    pairing_results += remaining_men_pairs_round_2

    ######################################################################
    # 남자끼리의 페어
    pairing_results += create_pair(men_group_1, men_group_3, "1조(남)", "3조(남)",3, existing_pairs)
    pairing_results += create_pair(men_group_1, men_group_2, "1조(남)", "2조(남)",3, existing_pairs)
    pairing_results += create_pair(men_group_2, men_group_3, "2조(남)", "3조(남)",3, existing_pairs)

    ######################################################################
    # 남자-여자 페어링
    pairing_results_round_4 += create_pair(men_group_2, women_group_1, "2조(남)", "1조(여)",4, existing_pairs)
    pairing_results_round_4 += create_pair(men_group_3, women_group_2, "3조(남)", "2조(여)",4, existing_pairs)
    pairing_results_round_4 += create_pair(men_group_1, women_group_3, "1조(남)", "3조(여)",4, existing_pairs)

    ######################################################################
    # 남는 남자들의 닉네임과 조 정보를 함께 저장
    remaining_men = men_team[men_team['닉네임'].isin(list(set(men_team['닉네임'].tolist()) - set([p[0] for p in pairing_results_round_4])))]
    remaining_men_list = remaining_men[['닉네임', '조']].values.tolist()  # [[닉네임, 조], ...]

    # 남는 남자끼리 페어링
    remaining_men_pairs_round_4 = create_random_leftover_pairs(remaining_men_list,4)


    pairing_results += pairing_results_round_4
    pairing_results += remaining_men_pairs_round_4

    ######################################################################
    # 결과를 pandas dataframe에 저장
    df_pairs = pd.DataFrame(pairing_results, columns=["선수", "선수2", "조 구분", "라운드"])

    # 인덱스를 1부터 시작하도록 조정
    df_pairs.index = df_pairs.index + 1

    # 인덱스를 '페어번호'라는 이름의 열로 추가
    df_pairs.reset_index(inplace=True)
    df_pairs.rename(columns={'index': '페어번호'}, inplace=True)

    # 페어 유형을 추가하여 구분
    df_pairs['페어 유형'] = df_pairs['조 구분'].apply(
        lambda x: '남복' if '남' in x and '여' not in x else '여복' if '여' in x and '남' not in x else '혼복'
    )

    # 결과 출력
    # display(df_pairs.style.set_table_attributes('style="max-height:300px; overflow:auto;"'))
    df_pairs.to_excel(f'{team}_fair_{dict_random[team]}.xlsx', index=False, engine='openpyxl')

In [147]:
df_pairs

    페어번호 플레이어1 플레이어2         조 구분  라운드 페어 유형
0      1    꼬맹   나여영  2조(여)-3조(여)    1    여복
1      2    제인   미르키  2조(여)-3조(여)    1    여복
2      3    아롬    야금  2조(여)-3조(여)    1    여복
3      4  파란하늘    시호  2조(여)-3조(여)    1    여복
4      5    린다    빈지  2조(여)-3조(여)    1    여복
..   ...   ...   ...          ...  ...   ...
79    80    재근    빈지  1조(남)-3조(여)    4    혼복
80    81    백호    시호  1조(남)-3조(여)    4    혼복
81    82    정현    명자  1조(남)-2조(남)    4    남복
82    83   브라운    꿀벌  2조(남)-3조(남)    4    남복
83    84    TG   챨리심  3조(남)-1조(남)    4    남복

[84 rows x 6 columns]

In [55]:
## 총 경기 수 계산 

a = 18 # 여복
a += 18 # 혼복
a += 3 # 남는 남복
a += 24 # 남복
a += 18 # 혼복
a += 3 # 남는 남복

a

84

In [8]:
import random
import pandas as pd
from IPython.display import display
import itertools

# 중복된 페어를 방지하는 함수
def create_pair_no_duplicates(group_a, group_b, group_a_name, group_b_name, round, existing_pairs):
    pairings = []
    random.shuffle(group_a)
    random.shuffle(group_b)

    for i in range(min(len(group_a), len(group_b))):
        pair = (group_a[i], group_b[i], f"{group_a_name}-{group_b_name}", round)
        
        # 중복된 페어가 아닌지 확인
        if (group_a[i], group_b[i]) not in existing_pairs and (group_b[i], group_a[i]) not in existing_pairs:  # 역방향으로도 체크
            pairings.append(pair)
            existing_pairs.add((group_a[i], group_b[i]))  # 페어 추가 (정방향)
    
    return pairings


# 혼복이후 남은 사람들을 섞는 함수 - 중복 페어 방지
def create_random_leftover_pairs_no_duplicates(remaining_men_list, round, existing_pairs):
    # 조별로 분류
    group_1 = [p for p in remaining_men_list if p[1] == '1조']
    group_2 = [p for p in remaining_men_list if p[1] == '2조']
    group_3 = [p for p in remaining_men_list if p[1] == '3조']
    
    # 각 그룹 무작위로 섞기
    random.shuffle(group_1)
    random.shuffle(group_2)
    random.shuffle(group_3)
    
    # 서로 다른 조끼리 페어링 (1조-2조, 2조-3조, 3조-1조)
    pair_1 = (group_1[0][0], group_2[0][0], f"{group_1[0][1]}(남)-{group_2[0][1]}(남)", round)
    pair_2 = (group_2[1][0], group_3[0][0], f"{group_2[1][1]}(남)-{group_3[0][1]}(남)", round)
    pair_3 = (group_1[1][0], group_3[1][0], f"{group_1[1][1]}(남)-{group_3[1][1]}(남)", round)
    
    # 중복 페어 확인 및 저장
    for pair in [pair_1, pair_2, pair_3]:
        if (pair[0], pair[1]) not in existing_pairs and (pair[1], pair[0]) not in existing_pairs:  # 역방향으로도 체크
            existing_pairs.add((pair[0], pair[1]))  # 페어 추가 (정방향)
    
    return [pair_1, pair_2, pair_3]


# 메인 코드

for team in ['청팀', '백팀']:
    random.seed(dict_random[team])
    
    # 페어링 결과 리스트
    pairing_results = []
    pairing_results_round_2 = []
    pairing_results_round_4 = []

    # 중복 페어 추적을 위한 리스트
    existing_pairs = set()  # 전역적으로 중복 페어를 추적

    # 남자와 여자 추출
    men_team = df[(df['팀'] == team) & (df['성별'] == '남')]
    women_team = df[(df['팀'] == team) & (df['성별'] == '여')]

    # 남자 조별로 분리
    men_group_1 = men_team[men_team['조'] == '1조']['닉네임'].tolist()
    men_group_2 = men_team[men_team['조'] == '2조']['닉네임'].tolist()
    men_group_3 = men_team[men_team['조'] == '3조']['닉네임'].tolist()

    # 여자 조별로 분리
    women_group_1 = women_team[women_team['조'] == '1조']['닉네임'].tolist()
    women_group_2 = women_team[women_team['조'] == '2조']['닉네임'].tolist()
    women_group_3 = women_team[women_team['조'] == '3조']['닉네임'].tolist()

    ######################################################################
    # 여자끼리의 페어
    pairing_results += create_pair_no_duplicates(women_group_2, women_group_3, "2조(여)", "3조(여)", 1, existing_pairs)
    pairing_results += create_pair_no_duplicates(women_group_1, women_group_2, "1조(여)", "2조(여)", 1, existing_pairs)
    pairing_results += create_pair_no_duplicates(women_group_1, women_group_3, "1조(여)", "3조(여)", 1, existing_pairs)

    ######################################################################
    # 남자-여자 페어링
    pairing_results_round_2 += create_pair_no_duplicates(men_group_1, women_group_2, "1조(남)", "2조(여)", 2, existing_pairs)
    pairing_results_round_2 += create_pair_no_duplicates(men_group_2, women_group_3, "2조(남)", "3조(여)", 2, existing_pairs)
    pairing_results_round_2 += create_pair_no_duplicates(men_group_3, women_group_1, "3조(남)", "1조(여)", 2, existing_pairs)

    ######################################################################
    # 남는 남자들의 닉네임과 조 정보를 함께 저장
    remaining_men = men_team[men_team['닉네임'].isin(list(set(men_team['닉네임'].tolist()) - set([p[0] for p in pairing_results_round_2])))]
    remaining_men_list = remaining_men[['닉네임', '조']].values.tolist()  # [[닉네임, 조], ...]

    # 남는 남자끼리 페어링
    remaining_men_pairs_round_2 = create_random_leftover_pairs_no_duplicates(remaining_men_list, 2, existing_pairs)

    pairing_results += pairing_results_round_2
    pairing_results += remaining_men_pairs_round_2

    ######################################################################
    # 남자끼리의 페어
    pairing_results += create_pair_no_duplicates(men_group_1, men_group_3, "1조(남)", "3조(남)", 3, existing_pairs)
    pairing_results += create_pair_no_duplicates(men_group_1, men_group_2, "1조(남)", "2조(남)", 3, existing_pairs)
    pairing_results += create_pair_no_duplicates(men_group_2, men_group_3, "2조(남)", "3조(남)", 3, existing_pairs)

    ######################################################################
    # 남자-여자 페어링
    pairing_results_round_4 += create_pair_no_duplicates(men_group_2, women_group_1, "2조(남)", "1조(여)", 4, existing_pairs)
    pairing_results_round_4 += create_pair_no_duplicates(men_group_3, women_group_2, "3조(남)", "2조(여)", 4, existing_pairs)
    pairing_results_round_4 += create_pair_no_duplicates(men_group_1, women_group_3, "1조(남)", "3조(여)", 4, existing_pairs)

    ######################################################################
    # 남는 남자들의 닉네임과 조 정보를 함께 저장
    remaining_men = men_team[men_team['닉네임'].isin(list(set(men_team['닉네임'].tolist()) - set([p[0] for p in pairing_results_round_4])))]
    remaining_men_list = remaining_men[['닉네임', '조']].values.tolist()

    # 남는 남자끼리 페어링
    remaining_men_pairs_round_4 = create_random_leftover_pairs_no_duplicates(remaining_men_list, 4, existing_pairs)

    pairing_results += pairing_results_round_4
    pairing_results += remaining_men_pairs_round_4

    ######################################################################
    # 결과를 pandas dataframe에 저장
    df_pairs = pd.DataFrame(pairing_results, columns=["선수", "선수2", "조 구분", "라운드"])

    # 인덱스를 1부터 시작하도록 조정
    df_pairs.index = df_pairs.index + 1

    # 인덱스를 '페어번호'라는 이름의 열로 추가
    df_pairs.reset_index(inplace=True)
    df_pairs.rename(columns={'index': '페어번호'}, inplace=True)


    # 페어 유형을 추가하여 구분
    df_pairs['페어 유형'] = df_pairs['조 구분'].apply(
        lambda x: '남복' if '남' in x and '여' not in x else '여복' if '여' in x and '남' not in x else '혼복'
    )

    # 결과 출력
    # display(df_pairs.style.set_table_attributes('style="max-height:300px; overflow:auto;"'))
    df_pairs.to_excel(f'{team}_fair_{dict_random[team]}.xlsx', index=False, engine='openpyxl')