In [ ]:
########################## 이거좋아
####################################################
import itertools
import random
import pandas as pd

# 선수 목록
players = ["동환", "매버릭", "밤송이", "비케이", "성현", "소니", "재근", "정현", "주방", "큐", "태보", "Bdup", "프리마", "토니"]

# 각 선수의 경기 횟수와 함께 경기 기록을 추적
matches = []
player_games = {player: 0 for player in players}
player_pairs = {frozenset([p1, p2]): 0 for p1, p2 in itertools.combinations(players, 2)}
opponent_pairs = {frozenset([p1, p2]): 0 for p1, p2 in itertools.combinations(players, 2)}

# 가능한 모든 조합 생성
possible_combinations = list(itertools.combinations(players, 4))
random.shuffle(possible_combinations)

# 매치 생성 함수
def can_play_together(team):
    for p1, p2 in itertools.combinations(team, 2):
        if player_pairs[frozenset([p1, p2])] >= 1:
            return False
    return True

def can_play_against(team1, team2):
    for p1 in team1:
        for p2 in team2:
            if opponent_pairs[frozenset([p1, p2])] >= 2:
                return False
    return True

def add_match(team1, team2):
    matches.append((team1, team2))
    for player in team1 + team2:
        player_games[player] += 1
    for p1, p2 in itertools.combinations(team1, 2):
        player_pairs[frozenset([p1, p2])] += 1
    for p1, p2 in itertools.combinations(team2, 2):
        player_pairs[frozenset([p1, p2])] += 1
    for p1 in team1:
        for p2 in team2:
            opponent_pairs[frozenset([p1, p2])] += 1

# 매치 생성
for combination in possible_combinations:
    team1 = combination[:2]
    team2 = combination[2:]
    
    # 각 선수의 경기 횟수가 4 미만일 때만 경기를 추가
    if all(player_games[player] < 4 for player in combination) and can_play_together(team1) and can_play_together(team2) and can_play_against(team1, team2):
        add_match(team1, team2)
        
    # 모든 선수의 경기가 완료되었으면 중지
    if all(games == 4 for games in player_games.values()):
        print('break')
        break

# 결과 출력
for i, match in enumerate(matches):
    team1, team2 = match
    print(f"Match {i + 1}: {', '.join(team1)} vs {', '.join(team2)}")

# 각 선수의 경기 횟수 출력
print("\n각 선수의 경기 횟수:")
for player, games in player_games.items():
    print(f"{player}: {games}경기")

# pair wise 테이블 생성
pairwise_table = pd.DataFrame(0, index=players, columns=players)
opponent_table = pd.DataFrame(0, index=players, columns=players)

for pair, count in player_pairs.items():
    p1, p2 = list(pair)
    pairwise_table.at[p1, p2] = count
    pairwise_table.at[p2, p1] = count

for pair, count in opponent_pairs.items():
    p1, p2 = list(pair)
    opponent_table.at[p1, p2] = count
    opponent_table.at[p2, p1] = count

print("\nPair wise 테이블 (같은 팀으로 만난 횟수):")
display(pairwise_table)

print("\nOpponent wise 테이블 (상대 팀으로 만난 횟수):")
display(opponent_table)

Match 1: 매버릭, 밤송이 vs 재근, 주방
Match 2: 소니, 재근 vs 주방, Bdup
Match 3: 동환, 매버릭 vs 밤송이, 정현
Match 4: 밤송이, 성현 vs 큐, 태보
Match 5: 비케이, 정현 vs 주방, 큐
Match 6: 동환, 소니 vs Bdup, 프리마
Match 7: 매버릭, 비케이 vs 성현, 토니
Match 8: 동환, 비케이 vs 프리마, 토니
Match 9: 밤송이, 소니 vs 재근, 큐
Match 10: 성현, 정현 vs 태보, 토니
Match 11: 정현, 주방 vs 태보, Bdup
Match 12: 성현, 재근 vs 큐, Bdup
Match 13: 비케이, 소니 vs 태보, 프리마

각 선수의 경기 횟수:
동환: 3경기
매버릭: 3경기
밤송이: 4경기
비케이: 4경기
성현: 4경기
소니: 4경기
재근: 4경기
정현: 4경기
주방: 4경기
큐: 4경기
태보: 4경기
Bdup: 4경기
프리마: 3경기
토니: 3경기

Pair wise 테이블 (같은 팀으로 만난 횟수):

      동환  매버릭  밤송이  비케이  성현  소니  재근  정현  주방  큐  태보  Bdup  프리마  토니
동환     0    1    0    1   0   1   0   0   0  0   0     0    0   0
매버릭    1    0    1    1   0   0   0   0   0  0   0     0    0   0
밤송이    0    1    0    0   1   1   0   1   0  0   0     0    0   0
비케이    1    1    0    0   0   1   0   1   0  0   0     0    0   0
성현     0    0    1    0   0   0   1   1   0  0   0     0    0   1
소니     1    0    1    1   0   0   1   0   0  0   0     0    0   0
재근     0    0    0    0   1   1   0   0   1  1   0     0    0   0
정현     0    0    1    1   1   0   0   0   1  0   0     0    0   0
주방     0    0    0    0   0   0   1   1   0  1   0     1    0   0
큐      0    0    0    0   0   0   1   0   1  0   1     1    0   0
태보     0    0    0    0   0   0   0   0   0  1   0     1    1   1
Bdup   0    0    0    0   0   0   0   0   1  1   1     0    1   0
프리마    0    0    0    0   0   0   0   0   0  0   1     1    0   1
토니     0    0    0    0   1   0   0   0   0  0   1     0    1   0

Opponent wise 테이블 (상대 팀으로 만난 횟수):

      동환  매버릭  밤송이  비케이  성현  소니  재근  정현  주방  큐  태보  Bdup  프리마  토니
동환     0    0    1    0   0   0   0   1   0  0   0     1    2   1
매버릭    0    0    1    0   1   0   1   1   1  0   0     0    0   1
밤송이    1    1    0    0   0   0   2   0   1  2   1     0    0   0
비케이    0    0    0    0   1   0   0   0   1  1   1     0    2   2
성현     0    1    0    1   0   0   0   0   0  2   2     1    0   1
소니     0    0    0    0   0   0   1   0   1  1   1     2    2   0
재근     0    1    2    0   0   1   0   0   1  1   0     2    0   0
정현     1    1    0    0   0   0   0   0   1  1   2     1    0   1
주방     0    1    1    1   0   1   1   1   0  0   1     1    0   0
큐      0    0    2    1   2   1   1   1   0  0   0     0    0   0
태보     0    0    1    1   2   1   0   2   1  0   0     0    0   0
Bdup   1    0    0    0   1   2   2   1   1  0   0     0    0   0
프리마    2    0    0    2   0   2   0   0   0  0   0     0    0   0
토니     1    1    0    2   1   0   0   1   0  0   0     0    0   0

In [ ]:
########################## 이거좋아
####################################################
import itertools
import random
import pandas as pd

# 선수 목록
players = ["동환", "매버릭", "밤송이", "비케이", "성현", "소니", "재근", "정현", "주방", "큐", "태보", "Bdup", "프리마", "토니"]

while True:
    # 각 선수의 경기 횟수와 함께 경기 기록을 추적
    matches = []
    player_games = {player: 0 for player in players}
    player_pairs = {frozenset([p1, p2]): 0 for p1, p2 in itertools.combinations(players, 2)}
    opponent_pairs = {frozenset([p1, p2]): 0 for p1, p2 in itertools.combinations(players, 2)}

    # 가능한 모든 조합 생성
    possible_combinations = list(itertools.combinations(players, 4))
    random.shuffle(possible_combinations)

    # 매치 생성 함수
    def can_play_together(team):
        for p1, p2 in itertools.combinations(team, 2):
            if player_pairs[frozenset([p1, p2])] >= 1:
                return False
        return True

    def can_play_against(team1, team2):
        for p1 in team1:
            for p2 in team2:
                if opponent_pairs[frozenset([p1, p2])] >= 2:
                    return False
        return True

    def add_match(team1, team2):
        matches.append((team1, team2))
        for player in team1 + team2:
            player_games[player] += 1
        for p1, p2 in itertools.combinations(team1, 2):
            player_pairs[frozenset([p1, p2])] += 1
        for p1, p2 in itertools.combinations(team2, 2):
            player_pairs[frozenset([p1, p2])] += 1
        for p1 in team1:
            for p2 in team2:
                opponent_pairs[frozenset([p1, p2])] += 1


    # 매치 생성
    for combination in possible_combinations:
        team1 = combination[:2]
        team2 = combination[2:]
        
        # 각 선수의 경기 횟수가 4 미만일 때만 경기를 추가
        if all(player_games[player] < 4 for player in combination) and can_play_together(team1) and can_play_together(team2) and can_play_against(team1, team2):
            add_match(team1, team2)
            
        # 모든 선수의 경기가 완료되었으면 중지
        if all(games == 4 for games in player_games.values()):
            print('break')
            break



    # pair wise 테이블 생성
    pairwise_table = pd.DataFrame(0, index=players, columns=players)
    opponent_table = pd.DataFrame(0, index=players, columns=players)

    for pair, count in player_pairs.items():
        p1, p2 = list(pair)
        pairwise_table.at[p1, p2] = count
        pairwise_table.at[p2, p1] = count

    for pair, count in opponent_pairs.items():
        p1, p2 = list(pair)
        opponent_table.at[p1, p2] = count
        opponent_table.at[p2, p1] = count
    
    # 14경기 안되면 다시 만듬 
    if len(matches)==14:
        break
    print('다시만드는중')

# 각 선수의 경기 횟수 출력
print("\n각 선수의 경기 횟수:")

# 결과 출력
for i, match in enumerate(matches):
    team1, team2 = match
    print(f"Match {i + 1}: {', '.join(team1)} vs {', '.join(team2)}")

print("\n")

for player, games in player_games.items():
    print(f"{player}: {games}경기")
    
print("\nPair wise 테이블 (같은 팀으로 만난 횟수):")
display(pairwise_table)

print("\nOpponent wise 테이블 (상대 팀으로 만난 횟수):")
display(opponent_table)

다시만드는중
다시만드는중
다시만드는중
다시만드는중
다시만드는중
다시만드는중
다시만드는중
다시만드는중
다시만드는중
다시만드는중
다시만드는중
break

각 선수의 경기 횟수:
Match 1: 매버릭, 비케이 vs 성현, 소니
Match 2: 매버릭, 재근 vs 주방, 프리마
Match 3: 성현, 정현 vs 태보, 토니
Match 4: 동환, 성현 vs 정현, 태보
Match 5: 성현, 재근 vs 프리마, 토니
Match 6: 동환, 밤송이 vs 큐, 토니
Match 7: 소니, 정현 vs 큐, 태보
Match 8: 비케이, 재근 vs 정현, 주방
Match 9: 비케이, 큐 vs Bdup, 프리마
Match 10: 비케이, 주방 vs Bdup, 토니
Match 11: 매버릭, 밤송이 vs 큐, 프리마
Match 12: 밤송이, 소니 vs 주방, Bdup
Match 13: 동환, 매버릭 vs 밤송이, 태보
Match 14: 동환, 소니 vs 재근, Bdup


동환: 4경기
매버릭: 4경기
밤송이: 4경기
비케이: 4경기
성현: 4경기
소니: 4경기
재근: 4경기
정현: 4경기
주방: 4경기
큐: 4경기
태보: 4경기
Bdup: 4경기
프리마: 4경기
토니: 4경기

Pair wise 테이블 (같은 팀으로 만난 횟수):

      동환  매버릭  밤송이  비케이  성현  소니  재근  정현  주방  큐  태보  Bdup  프리마  토니
동환     0    1    1    0   1   1   0   0   0  0   0     0    0   0
매버릭    1    0    1    1   0   0   1   0   0  0   0     0    0   0
밤송이    1    1    0    0   0   1   0   0   0  0   1     0    0   0
비케이    0    1    0    0   0   0   1   0   1  1   0     0    0   0
성현     1    0    0    0   0   1   1   1   0  0   0     0    0   0
소니     1    0    1    0   1   0   0   1   0  0   0     0    0   0
재근     0    1    0    1   1   0   0   0   0  0   0     1    0   0
정현     0    0    0    0   1   1   0   0   1  0   1     0    0   0
주방     0    0    0    1   0   0   0   1   0  0   0     1    1   0
큐      0    0    0    1   0   0   0   0   0  0   1     0    1   1
태보     0    0    1    0   0   0   0   1   0  1   0     0    0   1
Bdup   0    0    0    0   0   0   1   0   1  0   0     0    1   1
프리마    0    0    0    0   0   0   0   0   1  1   0     1    0   1
토니     0    0    0    0   0   0   0   0   0  1   1     1    1   0

Opponent wise 테이블 (상대 팀으로 만난 횟수):

      동환  매버릭  밤송이  비케이  성현  소니  재근  정현  주방  큐  태보  Bdup  프리마  토니
동환     0    0    1    0   0   0   1   1   0  1   2     1    0   1
매버릭    0    0    1    0   1   1   0   0   1  1   1     0    2   0
밤송이    1    1    0    0   0   0   0   0   1  2   0     1    1   1
비케이    0    0    0    0   1   1   0   1   1  0   0     2    1   1
성현     0    1    0    1   0   0   0   1   0  0   2     0    1   2
소니     0    1    0    1   0   0   1   0   1  1   1     2    0   0
재근     1    0    0    0   0   1   0   1   2  0   0     0    2   1
정현     1    0    0    1   1   0   1   0   0  1   2     0    0   1
주방     0    1    1    1   0   1   2   0   0  0   0     1    0   1
큐      1    1    2    0   0   1   0   1   0  0   0     1    1   0
태보     2    1    0    0   2   1   0   2   0  0   0     0    0   0
Bdup   1    0    1    2   0   2   0   0   1  1   0     0    0   0
프리마    0    2    1    1   1   0   2   0   0  1   0     0    0   0
토니     1    0    1    1   2   0   1   1   1  0   0     0    0   0

In [198]:
import itertools
import random
import pandas as pd

# 선수 목록
players = ["동환", "매버릭", "밤송이", "비케이", "성현", "소니", "재근", "정현", "주방", "큐", "태보", "Bdup", "프리마", "토니"]

# 각 선수의 경기 횟수와 함께 경기 기록을 추적
attempt_count = 0

while True:
    attempt_count += 1
    matches = []
    player_games = {player: 0 for player in players}
    player_pairs = {frozenset([p1, p2]): 0 for p1, p2 in itertools.combinations(players, 2)}

    # 가능한 모든 조합 생성
    possible_combinations = list(itertools.combinations(players, 4))
    random.shuffle(possible_combinations)

    # 매치 생성 함수
    def can_play_together(team):
        for p1, p2 in itertools.combinations(team, 2):
            if player_pairs[frozenset([p1, p2])] >= 1:
                return False
        return True

    def add_match(team1, team2):
        matches.append((team1, team2))
        for player in team1 + team2:
            player_games[player] += 1
        for p1, p2 in itertools.combinations(team1, 2):
            player_pairs[frozenset([p1, p2])] += 1
        for p1, p2 in itertools.combinations(team2, 2):
            player_pairs[frozenset([p1, p2])] += 1

    # 연속 경기 방지: 이전 경기에 출전한 선수가 다음 경기에는 출전하지 않도록 추적
    last_match_players = []

    # 매치 생성
    for combination in possible_combinations:
        team1 = combination[:2]
        team2 = combination[2:]

        # 각 선수의 경기 횟수가 4 미만이고, 같은 선수가 연속으로 경기에 참여하지 않으며,
        # 각 선수가 이전에 3회 이상 경기를 하지 않았을 때만 경기를 추가
        if (all(player_games[player] < 4 for player in combination) and 
            can_play_together(team1) and 
            can_play_together(team2) and 
            not any(player in last_match_players for player in combination)):

            add_match(team1, team2)

            # 이전 경기에 참여한 선수들 업데이트
            last_match_players = list(combination)

        # 모든 선수의 경기가 완료되었으면 중지
        if all(games == 4 for games in player_games.values()):
            break

    # 경기 수가 14인 경우에만 종료
    if len(matches) == 14:
        break

# 결과 출력
for i, match in enumerate(matches):
    team1, team2 = match
    print(f"Match {i + 1}: {', '.join(team1)} vs {', '.join(team2)}")

print("\n각 선수의 경기 횟수:")
for player, games in player_games.items():
    print(f"{player}: {games}경기")

# 경기에서 만난 횟수 테이블 생성
match_count_table = pd.DataFrame(0, index=players, columns=players)
for team1, team2 in matches:
    for p1 in team1:
        for p2 in team2:
            match_count_table.at[p1, p2] += 1
            match_count_table.at[p2, p1] += 1

print("\nPair wise 테이블 (같은 팀으로 만난 횟수):")
display(pairwise_table)

print("\n경기에서 만난 횟수 테이블:")
display(match_count_table)

# 시도 횟수 출력
print(f"\n경기 생성에 성공한 시도 횟수: {attempt_count}")

Match 1: 동환, 소니 vs 주방, 큐
Match 2: 밤송이, 비케이 vs 성현, 재근
Match 3: 동환, 매버릭 vs 태보, 토니
Match 4: 성현, 주방 vs 큐, Bdup
Match 5: 매버릭, 소니 vs 재근, 정현
Match 6: 동환, 밤송이 vs 비케이, 태보
Match 7: 매버릭, 재근 vs 큐, 프리마
Match 8: 밤송이, 소니 vs 정현, Bdup
Match 9: 동환, 재근 vs 프리마, 토니
Match 10: 성현, 정현 vs 주방, Bdup
Match 11: 매버릭, 비케이 vs 큐, 토니
Match 12: 소니, 정현 vs 태보, 프리마
Match 13: 비케이, 성현 vs 주방, 토니
Match 14: 밤송이, 태보 vs Bdup, 프리마

각 선수의 경기 횟수:
동환: 4경기
매버릭: 4경기
밤송이: 4경기
비케이: 4경기
성현: 4경기
소니: 4경기
재근: 4경기
정현: 4경기
주방: 4경기
큐: 4경기
태보: 4경기
Bdup: 4경기
프리마: 4경기
토니: 4경기

Pair wise 테이블 (같은 팀으로 만난 횟수):

      동환  매버릭  밤송이  비케이  성현  소니  재근  정현  주방  큐  태보  Bdup  프리마  토니
동환     0    1    1    1   0   0   0   1   0  0   0     0    0   0
매버릭    1    0    1    0   1   0   0   0   1  0   0     0    0   0
밤송이    1    1    0    1   0   1   0   0   0  0   0     0    0   0
비케이    1    0    1    0   0   1   0   0   1  0   0     0    0   0
성현     0    1    0    0   0   0   1   1   0  0   0     0    0   1
소니     0    0    1    1   0   0   0   0   0  0   0     0    1   1
재근     0    0    0    0   1   0   0   0   1  1   1     0    0   0
정현     1    0    0    0   1   0   0   0   0  0   0     1    1   0
주방     0    1    0    1   0   0   1   0   0  1   0     0    0   0
큐      0    0    0    0   0   0   1   0   1  0   1     0    0   1
태보     0    0    0    0   0   0   1   0   0  1   0     1    1   0
Bdup   0    0    0    0   0   0   0   1   0  0   1     0    1   1
프리마    0    0    0    0   0   1   0   1   0  0   1     1    0   0
토니     0    0    0    0   1   1   0   0   0  1   0     1    0   0

경기에서 만난 횟수 테이블:

      동환  매버릭  밤송이  비케이  성현  소니  재근  정현  주방  큐  태보  Bdup  프리마  토니
동환     0    0    0    1   0   0   0   0   1  1   2     0    1   2
매버릭    0    0    0    0   0   0   1   1   0  2   1     0    1   2
밤송이    0    0    0    1   1   0   1   1   0  0   1     2    1   0
비케이    1    0    1    0   1   0   1   0   1  1   0     0    0   2
성현     0    0    1    1   0   0   0   0   2  1   0     2    0   1
소니     0    0    0    0   0   0   1   2   1  1   1     1    1   0
재근     0    1    1    1   0   1   0   0   0  1   0     0    2   1
정현     0    1    1    0   0   2   0   0   1  0   1     1    1   0
주방     1    0    0    1   2   1   0   1   0  1   0     1    0   0
큐      1    2    0    1   1   1   1   0   1  0   0     0    0   0
태보     2    1    1    0   0   1   0   1   0  0   0     1    1   0
Bdup   0    0    2    0   2   1   0   1   1  0   1     0    0   0
프리마    1    1    1    0   0   1   2   1   0  0   1     0    0   0
토니     2    2    0    2   1   0   1   0   0  0   0     0    0   0

경기 생성에 성공한 시도 횟수: 40

In [188]:
import itertools
import random
import pandas as pd

# 선수 목록
# players = ["동환", "매버릭", "밤송이", "비케이", "성현", "소니", "재근", "정현", "주방", "큐", "태보", "Bdup", "프리마", "토니"]
players = ["김지현", "룰루", "문문", "반이", "야금", "우당탕", "크림", "클레어", "Rent", "린다", "아롬"]


# 각 선수의 경기 횟수와 함께 경기 기록을 추적
attempt_count = 0

while True:
    attempt_count += 1
    matches = []
    player_games = {player: 0 for player in players}
    player_pairs = {frozenset([p1, p2]): 0 for p1, p2 in itertools.combinations(players, 2)}
    opponent_pairs = {frozenset([p1, p2]): 0 for p1, p2 in itertools.combinations(players, 2)}

    # 가능한 모든 조합 생성
    possible_combinations = list(itertools.combinations(players, 4))
    random.shuffle(possible_combinations)

    # 매치 생성 함수
    def can_play_together(team):
        for p1, p2 in itertools.combinations(team, 2):
            if player_pairs[frozenset([p1, p2])] >= 2:
                return False
        return True

    def can_play_against(team1, team2):
        for p1 in team1:
            for p2 in team2:
                if opponent_pairs[frozenset([p1, p2])] >= 2:
                    return False
        return True

    def add_match(team1, team2):
        matches.append((team1, team2))
        for player in team1 + team2:
            player_games[player] += 1
        for p1, p2 in itertools.combinations(team1, 2):
            player_pairs[frozenset([p1, p2])] += 1
        for p1, p2 in itertools.combinations(team2, 2):
            player_pairs[frozenset([p1, p2])] += 1
        for p1 in team1:
            for p2 in team2:
                opponent_pairs[frozenset([p1, p2])] += 1

    # 연속 경기 방지: 이전 경기에 출전한 선수가 다음 경기에는 출전하지 않도록 추적
    last_match_players = []

    # 매치 생성
    for combination in possible_combinations:
        team1 = combination[:2]
        team2 = combination[2:]

        # 각 선수의 경기 횟수가 4 미만이고, 같은 선수가 연속으로 경기에 참여하지 않으며,
        # 같은 선수와 2번 이상 경기를 하지 않았을 때만 경기를 추가
        if (all(player_games[player] < 4 for player in combination) and 
            can_play_together(team1) and 
            can_play_together(team2) and 
            can_play_against(team1, team2) and
            not any(player in last_match_players for player in combination)):

            add_match(team1, team2)

            # 이전 경기에 참여한 선수들 업데이트
            last_match_players = list(combination)

        # 모든 선수의 경기가 완료되었으면 중지
        if all(games == 4 for games in player_games.values()):
            break

    # 경기 수가 14인 경우에만 종료
    if len(matches) == len(players):
        break

# 결과 출력
for i, match in enumerate(matches):
    team1, team2 = match
    print(f"Match {i + 1}: {', '.join(team1)} vs {', '.join(team2)}")

print("\n각 선수의 경기 횟수:")
for player, games in player_games.items():
    print(f"{player}: {games}경기")

# 경기에서 만난 횟수 테이블 생성
match_count_table = pd.DataFrame(0, index=players, columns=players)
for team1, team2 in matches:
    for p1 in team1:
        for p2 in team2:
            match_count_table.at[p1, p2] += 1
            match_count_table.at[p2, p1] += 1

print("\nPair wise 테이블 (같은 팀으로 만난 횟수):")
display(pairwise_table)

print("\n경기에서 만난 횟수 테이블:")
display(match_count_table)

# 시도 횟수 출력
print(f"\n경기 생성에 성공한 시도 횟수: {attempt_count}")

Match 1: 룰루, 반이 vs 클레어, 린다
Match 2: 김지현, 야금 vs 우당탕, Rent
Match 3: 룰루, 문문 vs 반이, 아롬
Match 4: 우당탕, 크림 vs 클레어, Rent
Match 5: 김지현, 룰루 vs 린다, 아롬
Match 6: 문문, 반이 vs 야금, 크림
Match 7: 김지현, 우당탕 vs 클레어, Rent
Match 8: 야금, 크림 vs 린다, 아롬
Match 9: 룰루, 문문 vs 반이, Rent
Match 10: 김지현, 우당탕 vs 크림, 린다
Match 11: 문문, 야금 vs 클레어, 아롬

각 선수의 경기 횟수:
김지현: 4경기
룰루: 4경기
문문: 4경기
반이: 4경기
야금: 4경기
우당탕: 4경기
크림: 4경기
클레어: 4경기
Rent: 4경기
린다: 4경기
아롬: 4경기

Pair wise 테이블 (같은 팀으로 만난 횟수):

      동환  매버릭  밤송이  비케이  성현  소니  재근  정현  주방  큐  태보  Bdup  프리마  토니
동환     0    1    1    1   0   0   0   1   0  0   0     0    0   0
매버릭    1    0    1    0   1   0   0   0   1  0   0     0    0   0
밤송이    1    1    0    1   0   1   0   0   0  0   0     0    0   0
비케이    1    0    1    0   0   1   0   0   1  0   0     0    0   0
성현     0    1    0    0   0   0   1   1   0  0   0     0    0   1
소니     0    0    1    1   0   0   0   0   0  0   0     0    1   1
재근     0    0    0    0   1   0   0   0   1  1   1     0    0   0
정현     1    0    0    0   1   0   0   0   0  0   0     1    1   0
주방     0    1    0    1   0   0   1   0   0  1   0     0    0   0
큐      0    0    0    0   0   0   1   0   1  0   1     0    0   1
태보     0    0    0    0   0   0   1   0   0  1   0     1    1   0
Bdup   0    0    0    0   0   0   0   1   0  0   1     0    1   1
프리마    0    0    0    0   0   1   0   1   0  0   1     1    0   0
토니     0    0    0    0   1   1   0   0   0  1   0     1    0   0

경기에서 만난 횟수 테이블:

      김지현  룰루  문문  반이  야금  우당탕  크림  클레어  Rent  린다  아롬
김지현     0   0   0   0   0    1   1    1     2   2   1
룰루      0   0   0   2   0    0   0    1     1   2   2
문문      0   0   0   2   1    0   1    1     1   0   2
반이      0   2   2   0   1    0   1    1     0   1   0
야금      0   0   1   1   0    1   0    1     1   1   2
우당탕     1   0   0   0   1    0   1    2     2   1   0
크림      1   0   1   1   0    1   0    1     1   1   1
클레어     1   1   1   1   1    2   1    0     0   0   0
Rent    2   1   1   0   1    2   1    0     0   0   0
린다      2   2   0   1   1    1   1    0     0   0   0
아롬      1   2   2   0   2    0   1    0     0   0   0

경기 생성에 성공한 시도 횟수: 18

In [194]:
import itertools
import random
import pandas as pd

# 선수 목록
players = ["김지현", "룰루", "문문", "반이", "야금", "우당탕", "크림", "클레어", "Rent", "린다", "아롬"]

# 각 선수의 경기 횟수와 함께 경기 기록을 추적
attempt_count = 0

while True:
    attempt_count += 1
    matches = []
    player_games = {player: 0 for player in players}
    player_pairs = {frozenset([p1, p2]): 0 for p1, p2 in itertools.combinations(players, 2)}
    opponent_pairs = {frozenset([p1, p2]): 0 for p1, p2 in itertools.combinations(players, 2)}

    # 가능한 모든 조합 생성
    possible_combinations = list(itertools.combinations(players, 4))
    random.shuffle(possible_combinations)

    # 매치 생성 함수
    def can_play_together(team):
        for p1, p2 in itertools.combinations(team, 2):
            if player_pairs[frozenset([p1, p2])] >= 1:  # 같은 팀으로 1번만 만남
                return False
        return True

    def can_play_against(team1, team2):
        for p1 in team1:
            for p2 in team2:
                if opponent_pairs[frozenset([p1, p2])] >= 2:  # 상대편으로는 2번만 만남
                    return False
        return True

    def add_match(team1, team2):
        matches.append((team1, team2))
        for player in team1 + team2:
            player_games[player] += 1
        for p1, p2 in itertools.combinations(team1, 2):
            player_pairs[frozenset([p1, p2])] += 1
        for p1, p2 in itertools.combinations(team2, 2):
            player_pairs[frozenset([p1, p2])] += 1
        for p1 in team1:
            for p2 in team2:
                opponent_pairs[frozenset([p1, p2])] += 1

    # 연속 경기 방지: 이전 경기에 출전한 선수가 다음 경기에는 출전하지 않도록 추적
    last_match_players = []

    # 매치 생성
    for combination in possible_combinations:
        team1 = combination[:2]
        team2 = combination[2:]

        # 각 선수의 경기 횟수가 4 미만이고, 같은 선수가 연속으로 경기에 참여하지 않으며,
        # 같은 선수와 3번 이상 경기를 하지 않았을 때만 경기를 추가
        if (all(player_games[player] < 4 for player in combination) and 
            can_play_together(team1) and 
            can_play_together(team2) and 
            can_play_against(team1, team2) and
            not any(player in last_match_players for player in combination)):

            add_match(team1, team2)

            # 이전 경기에 참여한 선수들 업데이트
            last_match_players = list(combination)

        # 모든 선수의 경기가 완료되었으면 중지
        if all(games == 4 for games in player_games.values()):
            break

    # 경기 수가 14인 경우에만 종료
    if len(matches) == len(players):
        break

# 결과 출력
for i, match in enumerate(matches):
    team1, team2 = match
    print(f"Match {i + 1}: {', '.join(team1)} vs {', '.join(team2)}")

print("\n각 선수의 경기 횟수:")
for player, games in player_games.items():
    print(f"{player}: {games}경기")

# 경기에서 만난 횟수 테이블 생성
match_count_table = pd.DataFrame(0, index=players, columns=players)
for team1, team2 in matches:
    for p1 in team1:
        for p2 in team2:
            match_count_table.at[p1, p2] += 1
            match_count_table.at[p2, p1] += 1

print("\n경기에서 만난 횟수 테이블:")
display(match_count_table)

# 시도 횟수 출력
print(f"\n경기 생성에 성공한 시도 횟수: {attempt_count}")

Match 1: 문문, 반이 vs 야금, 린다
Match 2: 김지현, 룰루 vs 우당탕, 아롬
Match 3: 문문, 크림 vs 클레어, 린다
Match 4: 김지현, 반이 vs 야금, 우당탕
Match 5: 크림, Rent vs 린다, 아롬
Match 6: 룰루, 반이 vs 우당탕, 클레어
Match 7: 김지현, 야금 vs Rent, 아롬
Match 8: 룰루, 문문 vs 반이, 크림
Match 9: 김지현, 우당탕 vs 클레어, Rent
Match 10: 문문, 야금 vs 크림, 아롬
Match 11: 룰루, 클레어 vs Rent, 린다

각 선수의 경기 횟수:
김지현: 4경기
룰루: 4경기
문문: 4경기
반이: 4경기
야금: 4경기
우당탕: 4경기
크림: 4경기
클레어: 4경기
Rent: 4경기
린다: 4경기
아롬: 4경기

경기에서 만난 횟수 테이블:

      김지현  룰루  문문  반이  야금  우당탕  크림  클레어  Rent  린다  아롬
김지현     0   0   0   0   1    2   0    1     2   0   2
룰루      0   0   0   1   0    2   1    1     1   1   1
문문      0   0   0   1   1    0   2    1     0   2   1
반이      0   1   1   0   2    2   0    1     0   1   0
야금      1   0   1   2   0    0   1    0     1   0   2
우당탕     2   2   0   2   0    0   0    1     1   0   0
크림      0   1   2   0   1    0   0    1     0   2   1
클레어     1   1   1   1   0    1   1    0     1   1   0
Rent    2   1   0   0   1    1   0    1     0   1   1
린다      0   1   2   1   0    0   2    1     1   0   0
아롬      2   1   1   0   2    0   1    0     1   0   0

경기 생성에 성공한 시도 횟수: 892